.centrar {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

h2 {
    font-style: italic;
}

.afegir-marge {
    margin-top: 2%;
    margin-bottom: 2%;
}

.pintat-bg {
    background-color: rgb(231, 222, 209)
}

.mida-fila {
    height: 10%;
}

.html {
    height: 100%;
}

.body {
    height: 100%;
}

.vora-custom {
    border: 2px solid rgb(214, 208, 176);
}

#region-info > div {
    width: 100%;
    overflow-x: none;
}

.table-container {
    width: 100%;
    overflow-x: auto;
}
  
.data-table {
    width: 100%;
    table-layout: fixed;
    border-collapse: collapse;
}
  
.data-table th, .data-table td {
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
  